@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    background: #f0f3f5;
}

.container {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner {
    background: url(imgs/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 130px;
}

.profile {
    display: flex;
    background: url(imgs/profile-pic.jpg);
    background: cover;
    background-repeat: no-repeat;
    background-size: 200px;
    margin-top: -60px;
    margin-left: 18px;
    width: 150px;
    height: 140px;
    background-color: red;
    border: 2px solid #fff;
    border-radius: 100%;
}

.nickname {
    font-family: 'Sono', sans-serif;
    display: inline-block;
    justify-content: start;
    margin-top: -80px;
    margin-left: 190px;
}

.nickname p {
    font-weight: bold;
}

/* Legenda/info */
.info {
    width: 250px;
    height: 180px;
    background: #ffffff;
    margin: -97px 0px 0px 19px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.281);
}

.text-info {
    margin: 15px;
    flex-direction: start;
}

.info-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.typing-svg{
    display: flex;
    margin:0px 50px 0px 30px;
}

/* Icones das redes sociais */
.icons {
    margin: 50px 0px 30px 50px;
    width: 700px;
    height: 300px;
}

.github-icon,
.instagram-icon,
.linkedin-icon {
    margin-top: 0;
    margin-bottom: 10px;
    width: 80%;
    height: 60px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.486);
    text-align: center;
    text-decoration: none;
}

.github-icon {
    background: url(imgs/github-6195_eJbQgwghG.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 8px;
    background-color: #ffffff;
}

.instagram-icon {
    background: url(imgs/instagram-6274_VZCX6homSV.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 8px;
    background-color: #ffffff;
}

.linkedin-icon {
    background: url(imgs/linkedin-6212_Gbb0kFZnF.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 8px;
    background-color: #ffffff;
}

.github-icon p {
    display: flex;
    text-align: start;
    margin: 8px 10px 0px 80px;
}

.github-icon a {
    display: flex;
    text-align: start;
    margin: 0px 0px 0px 80px;
}

.instagram-icon p {
    display: flex;
    text-align: start;
    margin: 8px 10px 0px 80px;
}

.instagram-icon a {
    display: flex;
    text-align: start;
    margin: 0px 0px 0px 80px;
}

.linkedin-icon p {
    display: flex;
    text-align: start;
    margin: 8px 10px 0px 80px;
}

.linkedin-icon a {
    display: flex;
    text-align: start;
    margin: 0px 0px 0px 80px;
}

.github-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover{
    text-decoration: underline rgb(255, 0, 221);
}

@media screen and (max-width:600px) {

    .container {
        width: 100%;
        height: 85%;
        overflow: hidden;
    }

    .info-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info {
        margin: 50px 50px -30px 50px;
        justify-content: center;
        width: 368px;
        height: 150px;
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.281);
    }

    .typing-svg{
        margin-top: 10px;
        margin-left: 90px;
    }

    .github-icon,
    .instagram-icon,
    .linkedin-icon {
        overflow: hidden ;
        margin: 10px 0px 10px 140px;
        width: 53%;
        height: 60px;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.486);
        text-align: center;
    }
}
