@media screen and (max-width:750px) {
    .container {
        width: 90%;
    }

    .container h1 {
        padding-right: 20px;
    }

    .profile {
        margin-top: 15px;
    }

    .description {
        width: 90%;
    }

    .description p {
        letter-spacing: -1px;
    }

    .links {
        width: 91%;
    }

    .social-media {
        height: 70px;
    }

    .social-media h5 {
        padding: 20px;
    }

}